@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Regular.eot');
    src: local('Roboto'),
        url('../font/roboto/Roboto-Regular.eot?iefix') format('embedded-opentype'),
        url('../font/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../font/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../font/roboto/Roboto-Regular.woff') format('woff'),
        url('../font/roboto/Roboto-Regular.ttf') format('ttf');
}

.button-space{
    padding-right:30px;
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.contact-form {
    padding: 90px 0;
}

.center-signin {
    margin: auto;
}
